#game-buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

/* #A1CD44 sale
#5C7E10 install */

#game-buttons .gb-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 18px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}
#game-buttons .gb-btn--green {
    background: linear-gradient(to bottom, #187fa4d5, #1a6484d5);
  }
#game-buttons .gb-btn--blue { background: #1783ffe0; }

@media (prefers-color-scheme: dark) {
  #game-buttons .gb-btn { color: #ffffff; }
  #game-buttons .gb-btn--blue { background: #5865f2d7; }
  #game-buttons .gb-btn--green {
    background: linear-gradient(to bottom, #187fa4d5, #1a6484d5);
  }
}